In [3]:
class Student:
    def __init__(self,nm,ag,gn):
        self.name=nm
        self.age=ag
        self.gn=gn
st1=Student("Saniya",20,'F')
print(st1.name,st1.age,st1.gn)

Saniya 20 F

In [10]:
class STD:
    def __init__(self):
        self.name=None
        self.age=None
        self.gn=None
st2=STD()
st2.name=input("Enter Name:")
st2.age=input("enter Age:")
st2.gn=input("Enter Gender:")
print(st2.name,st2.age,st2.gn)

Enter Name:saniya
enter Age:20
Enter Gender:F
saniya 20 F

In [7]:
class Student:
    def __init__(self,nm,ag,gn):
        self.name=nm
        self.age=ag
        self.gn=gn
a=input("Enter Name:")
b=int(input("enter Age:"))
c=input("Enter Gender:")
st3=Student(a,b,c)
print(a,b,c)

Enter Name:saniya
enter Age:20
Enter Gender:F
saniya 20 F

In [9]:
print(type(b))

<class 'int'>

In [11]:
a=1
b='sdfg'
c=2.4
d=[10,"abcd",3.4]

In [14]:
class A:
    def func1(self):
        print("This is class A function")
class B:
    def func2(self):
        print("This is class B function")
ob1=A()
ob2=B()
ob1.func1()
ob2.func2()

This is class A function
This is class B function

In [15]:
ob1.func2()
ob2.func1()

AttributeError: 'A' object has no attribute 'func2'

In [2]:
class A:
    def __func1__(self):
        print("This is class A function")
class B:
    def func2(self):
        print("This is class B function")
ob1=A()
ob2=B()
ob1.func1()
ob2.func2()

AttributeError: 'A' object has no attribute 'func1'

In [3]:
class A:
    def __init__(self,a,b):
        self.A=a
        self.__B=b
    def printB(self):
        print(self.__B)
ob1=A(2,5)
print(ob1.A)
print(ob1.printB())

2
5
None

In [4]:
class StudentDetails:
    def __init__(self,sname,usn):
        self.name=sname
        self.usn=usn
        print("Name:",sname)
        print("USN:",usn)
        
    def marks(self,m1,m2,m3,m4,m5):
        self.m1=m1
        print("Sub1:",m1)
        self.m2=m2
        print("Sub2:",m2)
        self.m3=m3
        print("Sub3:",m3)
        self.m4=m4
        print("Sub4:",m4)
        self.m5=m5
        print("Sub5:",m5)
        total=m1+m2+m3+m4+m5
        per=(total/500)*100
        print("percentage:",per)
        if 100>=per>=90:
            grade='O'
            print("Grade:"+grade)
        elif 89>=per>=80:
            grade='A+'
            print("Grade:"+grade)
        elif 79>=per>=70:
            grade ='A'
            print("Grade:"+grade)
        elif 69>=per>=60:
            grade='B+'
            print("Grade:"+grade)
        elif 59>=per>=35:
            grade ='C'
            print("Grade:"+grade)
        elif per<=35:
            grade ='F'
            print("Grade:"+grade)
            
            
print("Student Details")
print("------student1-------")
st1=StudentDetails("saniya","ai069")
print("Marks:")
st1.marks(90,90,89,67,45)
print("------student2-------")
st2=StudentDetails("Summi","ec168")
print("Marks:")
st2.marks(99,89,78,32,55)
print("------student3-------")
st3=StudentDetails("rekha","ec140")
print("Marks:")
st3.marks(99,69,78,32,55)
print("------student4-------")
st4=StudentDetails("nafi","ee058")
print("Marks:")
st4.marks(99,89,88,32,55)
print("-------student5------")
st5=StudentDetails("dakshi","ee130")
print("Marks:")
st5.marks(99,89,78,40,55)

Student Details
------student1-------
Name: saniya
USN: ai069
Marks:
Sub1: 90
Sub2: 90
Sub3: 89
Sub4: 67
Sub5: 45
percentage: 76.2
Grade:A
------student2-------
Name: Summi
USN: ec168
Marks:
Sub1: 99
Sub2: 89
Sub3: 78
Sub4: 32
Sub5: 55
percentage: 70.6
Grade:A
------student3-------
Name: rekha
USN: ec140
Marks:
Sub1: 99
Sub2: 69
Sub3: 78
Sub4: 32
Sub5: 55
percentage: 66.60000000000001
Grade:B+
------student4-------
Name: nafi
USN: ee058
Marks:
Sub1: 99
Sub2: 89
Sub3: 88
Sub4: 32
Sub5: 55
percentage: 72.6
Grade:A
-------student5------
Name: dakshi
USN: ee130
Marks:
Sub1: 99
Sub2: 89
Sub3: 78
Sub4: 40
Sub5: 55
percentage: 72.2
Grade:A

In [5]:
class Student1:
    def __init__(self,N,U,M):
        self.name=None
        self.usn=None
        self.Marks=None
        self.percentage=None
        self.Grade=None
    def std_input(self):
        self._Name=

SyntaxError: invalid syntax (2510241297.py, line 9)

In [4]:
l=[2,2,1,2,1]
n=len(l)

for i in range(0,n):
    lsum=0
    rsum=0
    for j in range(i,n):
        rsum=rsum+l[j]
    for k in range(0,i):
        lsum=lsum+l[k]
    if lsum==rsum:
        print(i,l[i],lsum,rsum)

2 1 4 4

In [5]:
l=[2,4,3,5,6,3,4,6,7,1,2,5] 
sum=max=0
for i in range(0,len(l)-2):
    sum=l[i]+l[i+1]+l[i+2]
    if max<sum:
        max=sum
        pos=i
print(max,l[pos],l[pos+1],l[pos+2])

17 4 6 7